<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>BoardList 입니다.</title>
</head>
<body>
    <h1> 글 리스트 BoardList.html 입니다. </h1>
        <table>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${board}">
                    <td th:text="${board.id}"></td>
                    <td>
                        <a th:text="${board.title}" th:href="@{/test/view(id=${board.id})}"></a>
                    </td>
                </tr>
            </tbody>
        </table>

    <!-- 페이징 처리를 위한 부분 -->
    <div align="center">
        <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page!=nowPage}" th:href="@{/test/list(page=${page - 1})}" th:text="${page}"></a>
            <strong th:if="${page==nowPage}" th:text="${page}" style="color:red"></strong>
        </th:block>
    </div>
    <!-- 페이징 처리를 위한 부분 - end -->

    <!-- 검색 부분 -->
    <form th:action="@{/test/list}" method="get">
        <input type="text" name="searchKeyword">
        <input type="submit" value="검색">
    </form>
    <!-- 검색 부분 - end -->

    <div align="center"></div>
    <form action="/test/write">
        <input type="submit" value="새글작성">
    </form>

</body>
</html>